<div th:fragment="content">
    <div class="card my-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Ajouter un Patient</h5>
            <a href="/patients" class="btn btn-secondary btn-sm">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>
        </div>
        <form th:action="@{/patients/add}" th:object="${patient}" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" th:field="*{prenom}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required>
                </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-end">
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle-dotted"></i> Ajouter</button>
            </div>
        </form>
    </div>
</div>